<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- 定义机器人 -->
    <xacro:macro name="robot">
        <xacro:include filename="$(find robot_description)/urdf/robot/base.urdf.xacro" />
        <!-- 传感器组件 -->
        <xacro:include filename="$(find robot_description)/urdf/robot/sensor/imu.urdf.xacro" />
        <xacro:include filename="$(find robot_description)/urdf/robot/sensor/laser.urdf.xacro" />
        <xacro:include filename="$(find ros2_livox_simulation)/urdf/mid360.xacro" />
        <xacro:include filename="$(find robot_description)/urdf/robot/sensor/camera.urdf.xacro" />
         <!-- 执行器组件 -->
        <xacro:include filename="$(find robot_description)/urdf/robot/actuator/wheel.urdf.xacro" />
        <xacro:include filename="$(find robot_description)/urdf/robot/actuator/caster.urdf.xacro" />

        <!-- 底盘 -->
        <xacro:base_xacro length="0.12" radius="0.1" />
        <!-- 传感器 -->
        <xacro:imu_xacro parent="base_link" xyz="0 0 0.02" />
        <xacro:laser_xacro parent="base_link" xyz="0 0 0.10" />
        <xacro:camera_xacro parent="base_link" xyz="0.10 0 0.075" />
        <!-- 执行器主动轮+从动轮 -->
        <xacro:wheel_xacro wheel_name="left" xyz="0 0.10 -0.06" />
        <xacro:wheel_xacro wheel_name="right" xyz="0 -0.10 -0.06" />
        <xacro:caster_xacro caster_name="front" xyz="0.08 0.0 -0.076" />
        <xacro:caster_xacro caster_name="back" xyz="-0.08 0.0 -0.076" />
    </xacro:macro>

    <!-- 实例化机器人 -->
    <xacro:robot />
</robot>
